


.overlay h1{
    font-family: $fuenteCursiva;
    font-weight: 400;
    font-size: 5rem;
    font-style: italic;
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 3rem;
    color: $morado;

}
.overlay h3{
    text-align: center;
}

.overlay p{
    text-align: center;
}.btn__overlay{
    display: block;
    color: $morado;
    padding: 1rem 3rem;
    font-family: $fuentePrincipal;
    font-weight: 700;
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 2REM;
    text-transform: uppercase;
    border: none;
}
.overlay__logo{
    text-align: center;
}


