


.overlay h1{
    font-family: $fuenteCursiva;
    font-weight: 400;
    font-size: 5rem;
    font-style: italic;
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 3rem;

}
.overlay h3{
    text-align: center;
}

.overlay p{
    text-align: center;
}




